body {
    background-image: linear-gradient(-45deg, #476072, #334257);
    background-repeat: no-repeat;
    background-color: #334257;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background: #334257;
    padding: 20px;
}

.section {
    color: white;
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    height: 477px;
}

.contacts-section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: 338px;
}

.images {
    margin: auto;
    width: 256px;
}

.image {
    border-radius: 256px;
    width: 256px;
}

.index-image {
    border-radius: 256px;
}

.index-header {
    width: 256px;
    text-align: center;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-section {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.footer {
    background: #334257;
    color: #eeeeee;
    padding: 30px;
}

.title {
    color: #eeeeee;
    font-size: 40px;
    margin: 00px 0px;
}

.navigation-link {
    color: #eeeeee;
    text-decoration: none;
}

.contacts-images {
    margin: auto;
    width: 156px;
}

.contacts-image {
    border-radius: 256px;
    width: 156px;
}

.contacts-header {
    color: #eeeeee;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}

.games-footer {
    color: #eeeeee;
    text-align: center;
    margin-bottom: 100px;
}

.games-footer-link {
    color: #eeeeee;
    text-decoration: none;
}

.about-header {
    color: #eeeeee;
    margin-top: 150px;
    margin-left: 20px;
}

@media screen and (max-width: 798px) {
    .section {
        flex-direction: column;
        height: 900px;
    }

    .about-section {
        flex-direction: column;
        height: 900px;
    }

    .navigation-section {
        margin-right: 20px;
        padding-right: 100px;
        margin-left: 100px;
        vertical-align: right;
    }
}